<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
        <title>{% block title %}{% endblock %} | KU-OSS</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header>
                {% block header %}
                <h1>KU-OSS</h1>
                <nav>
                    {% block nav %}
                    {% endblock %}
                </nav>
                {% endblock %}
        </header>
        <div class=space></div>
        <main role="main">
                {% block main %}
                {% endblock %}
        </main>
        <footer>
                {% block footer %}
                <p class="credit">KU-OSS App by Guitarpawat</p>
                {% endblock %}
        </footer>
        {% endblock %}
    </body>
</html>