{% extends "main.html" %}

{% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        {{ super() }}
{% endblock %}

{% block title %}Login{% endblock %}

{% block nav %}
{% include 'header/nonlogin.html' %}
{% endblock %}

{% block main %}
<div class="login">
    <form method="post" action=".">
        <table>
            <tr>
                <th colspan="2"><h1>Please Login</h1></th>
            </tr>
            <tr>
                <td><p>Username: </p></td>
                <td><input type="text" name="user" class="text" required /></td>
            </tr>
            <tr>
                <td><p>Password: </p></td>
                <td><input type="password" name="pass" class="text" required /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" name="login" value="Login" class="submit" /></td>
            </tr>
        </table>   
    </form>
</div>
{% endblock %}